
__pycache__/builder.cpython-39.pyc
tk_test.py
*.v2
*.vsidx
*.lock
*.v2
.vs/DnDCharacterSheet/v17/.suo
*.1
*.2
DndCharacterSheet/.vs/DndCharacterSheet/v17/.suo
*.json
*.dll
*.exe
*.pdb
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/_IsIncrementalBuild
*.cache
*.BuildWithSkipAnalyzers
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet.csproj.FileListAbsolute.txt
*.cache
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_1jidn5bp_wpftmp.AssemblyInfo.cs
*.editorconfig
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_1qkjf5ki_wpftmp.AssemblyInfo.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_2laivcpo_wpftmp.AssemblyInfo.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_4asqla5r_wpftmp.AssemblyInfo.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_f1zr0xzl_wpftmp.AssemblyInfo.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_g20pdxdd_wpftmp.AssemblyInfo.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_grtc5jh4_wpftmp.AssemblyInfo.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_h3uw3wbs_wpftmp.AssemblyInfo.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_ikevgrsz_wpftmp.AssemblyInfo.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_ivrkbxm4_wpftmp.AssemblyInfo.cs
*.props
*.targets
*.json
*.cache
*.baml
*.lref
DndCharacterSheet/DndCharacterSheet/obj/project.nuget.cache
DndCharacterSheet/DndCharacterSheet/obj/project.assets.json
DndCharacterSheet/DndCharacterSheet/obj/DndCharacterSheet.csproj.nuget.dgspec.json
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/MainWindow.g.i.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/MainWindow.g.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_t23iweb0_wpftmp.AssemblyInfo.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_pikb2daw_wpftmp.AssemblyInfo.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_nb2x2dpp_wpftmp.AssemblyInfo.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_mvchqhxb_wpftmp.AssemblyInfo.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_MarkupCompile.i.cache
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet.GeneratedMSBuildEditorConfig.editorconfig
DndCharacterSheet/DndCharacterSheet/obj/project.nuget.cache
DndCharacterSheet/DndCharacterSheet/obj/project.assets.json
DndCharacterSheet/DndCharacterSheet/obj/DndCharacterSheet.csproj.nuget.dgspec.json
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/MainWindow.g.i.cs
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_MarkupCompile.i.cache
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet.GeneratedMSBuildEditorConfig.editorconfig
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet.GeneratedMSBuildEditorConfig.editorconfig
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/DndCharacterSheet_MarkupCompile.i.cache
DndCharacterSheet/DndCharacterSheet/obj/Debug/net6.0-windows/MainWindow.g.i.cs
DndCharacterSheet/DndCharacterSheet/obj/DndCharacterSheet.csproj.nuget.dgspec.json
DndCharacterSheet/DndCharacterSheet/obj/project.assets.json
DndCharacterSheet/DndCharacterSheet/obj/project.nuget.cache
